# ==========================================
# Зависимости проекта: Phage Growth Analyzer
# Python version: 3.10+
# ==========================================

# GUI и графический интерфейс
PySide6>=6.5.0

# Обработка данных и математический модуль
pandas>=2.0.0
numpy>=1.24.0

# Визуализация и графики
matplotlib>=3.7.0

# Экспорт и работа с форматами файлов
openpyxl>=3.1.0

# Дистрибуция и сборка .exe
PyInstaller>=6.0.0
